<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/homestyle.css">
    <title>A Web Page</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li> |
            <li><a href="/projects">Projects</a></li> |
            <li><a href="/contact">Contacts</a></li>
        </ul>
    </nav>
    <h1>About Me</h1>
    <div class="main-content">
        <div class="left-side">
            <img src="~/images/x.png" width="200">
            <h2>Moose Philips</h2>
            <p>I like stuff!</p>
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae iste accusantium reprehenderit excepturi, at, officiis incidunt ad voluptas corrupti cum explicabo earum laudantium ullam, facilis aperiam perferendis consequuntur. Error incidunt, provident aliquid, voluptatibus deleniti exercitationem reiciendis voluptates maiores ullam minima illum optio similique cupiditate iure blanditiis ipsam facilis ratione soluta porro magnam! Velit officiis earum a? Illum maiores, vel quidem velit iure natus nesciunt ullam mollitia animi eligendi reiciendis eaque.</p>
    </div>
</body>
</html>