<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/projectsstyle.css">
    <title>A Web Page</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li> |
            <li><a href="/projects">Projects</a></li> |
            <li><a href="/contact">Contacts</a></li>
        </ul>
    </nav>
    <h1>Here are some projects of mine!</h1>
    <div class="projects-content">
        <img src="~/images/x.png" width="100">
        <div class="project-info">
            <h3>Cool thing</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, quod!</p>
        </div>
        <img src="~/images/x.png" width="100">
        <div class="project-info">
            <h3>Cool thing</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, quod!</p>
        </div>
        <img src="~/images/x.png" width="100">
        <div class="project-info">
            <h3>Cool thing</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, quod!</p>
        </div>
        <img src="~/images/x.png" width="100">
        <div class="project-info">
            <h3>Cool thing</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, quod!</p>
        </div>
        <img src="~/images/x.png" width="100">
        <div class="project-info">
            <h3>Cool thing</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, quod!</p>
        </div>
        <img src="~/images/x.png" width="100">
        <div class="project-info">
            <h3>Cool thing</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, quod!</p>
        </div>
        <img src="~/images/x.png" width="100">
        <div class="project-info">
            <h3>Cool thing</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, quod!</p>
        </div>
        <img src="~/images/x.png" width="100">
        <div class="project-info">
            <h3>Cool thing</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, quod!</p>
        </div>
        <img src="~/images/x.png" width="100">
        <div class="project-info">
            <h3>Cool thing</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, quod!</p>
        </div>
        <img src="~/images/x.png" width="100">
        <div class="project-info">
            <h3>Cool thing</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, quod!</p>
        </div>
        <img src="~/images/x.png" width="100">
        <div class="project-info">
            <h3>Cool thing</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, quod!</p>
        </div>
        <img src="~/images/x.png" width="100">
        <div class="project-info">
            <h3>Cool thing</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, quod!</p>
        </div>
        <img src="~/images/x.png" width="100">
        <div class="project-info">
            <h3>Cool thing</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, quod!</p>
        </div>
        <img src="~/images/x.png" width="100">
        <div class="project-info">
            <h3>Cool thing</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, quod!</p>
        </div>
        <img src="~/images/x.png" width="100">
        <div class="project-info">
            <h3>Cool thing</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, quod!</p>
        </div>
    </div>
    
</body>
</html>